<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- Core -->
    <add key="Environment" value="dev" />
    <add key="ConfigCacheTimespan" value="00:02:00" />
    <add key="LoggingEnabled" value="true" />
    <!-- Event processing -->
    <add key="DeepStorage.InputConnectionString" value="Endpoint=sb://cp-ap-events.servicebus.windows.net/;SharedAccessKeyName=all;SharedAccessKey=okOtew+Qrb3qpHFDRL9o/7BDrVSn1InJnvkJ3dIBYJY=" />
    <add key="DeepStorage.EventHubName" value="device-events" />
    <add key="DeepStorage.ConsumerGroupName" value="deep-storage" />
    <add key="DeepStorage.CheckpointConnectionString" value="DefaultEndpointsProtocol=https;AccountName=epcheckpoint;AccountKey=gsZ61uMxH1Ksr5AIn5J6oe9fa1XTbdRgLeN6ZnYAmI288WB47kOEG30WYxK7Rq1x9UdA5V1QcWlyMgcAJ9roBA==" />
    <!-- Storage -->
    <add key="DeepStorage.OutputConnectionString" value="DefaultEndpointsProtocol=https;AccountName=epdeviceevents;AccountKey=7DJoxcnnXZB7kdVaDfs1snr7PSxeaOO0d62EvSbboz0OjyULvtuFAVakeued2ENxYW1Zlq2wdIlkja2CZVFP+w==" />
    <add key="DeepStorage.OutputContainerName" value="device-events" />
    <!-- Event Stores -->
    <add key="EventStores.MemoryEventStore.MaxBufferSize" value="8388608" /> <!-- 8388608 = 8MB -->
    <add key="EventStores.DiskEventStore.MaxBufferSize" value="16777216" /> <!-- 16777216 = 16MB -->
    <add key="EventStores.BlobStorageEventStore.MaxBufferSize" value="4194304" /> <!-- 4194304 = 4MB -->
    <add key="EventStores.OverdueFlushPeriod" value="00:05:00" />
  </appSettings>

  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Telemetry.Config.Cache" cacheMemoryLimitMegabytes="5" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
