<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Telemetry.Core"/>
  </extensions>
  <variable name="json" value='{"date":"${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}","environment":"prd","level":"${level}","logger":"${logger}","host":"${machinename}","event":${message}}'/>
  <targets async="true">
    <target name="LogglyWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard" timeToSleepBetweenBatches="1000">
      <target name="Loggly" xsi:type="Loggly"
              layout="${json}"
              URL="{YOUR-LOGGLY-URL}"
              bufferNumber="0"
              shouldBuffer="false"
              flushSeconds="0"/>
    </target>
    <target name="ConsoleWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard">
      <target name="Console" xsi:type="Console"
                      layout="${json}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleWrapper" />
    <logger name="*" minlevel="Info" writeTo="LogglyWrapper" />
  </rules>
</nlog>