<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Telemetry.Core"/>
  </extensions>
  <variable name="json" value='{"date":"${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}","environment":"sta","level":"${level}","logger":"${logger}","host":"${machinename}","event":${message}}'/>
  <targets async="true">
    <target name="LogglyWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard" timeToSleepBetweenBatches="1000">
      <target name="Loggly" xsi:type="Loggly"
              layout="${json}"
              URL="{YOUR-LOGGLY-URL}"
              bufferNumber="0"
              shouldBuffer="false"
              flushSeconds="0"/>
    </target>
    <target name="FileWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard">
      <target name="File" xsi:type="File"
                layout="${json}"
                fileName="${basedir}/telemetry.api.log"
                archiveFileName="${basedir}/telemetry.api-archive{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="iso-8859-2" />
    </target>
    <target name="ConsoleWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard">
      <target name="Console" xsi:type="Console"
                      layout="${json}" />
    </target>

    <target name="ColoredConsoleWrapper" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard">
      <target name="ColoredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
              layout="|${pad:padding=5:inner=${level:uppercase=true}}|${json}" >
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </target>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="FileWrapper" />-->
    <logger name="*" minlevel="Info" writeTo="ColoredConsoleWrapper" />
    <!--<logger name="EventMetricsHandler" minlevel="Trace" writeTo="ColoredConsoleWrapper" />-->    
  </rules>
</nlog>